<div class="message-content">
    <div class="header_message">
        <h2>Contacto</h2>
    </div>
    <div class="body-message">
        <p>Se encontraron los siguientes errores en sus datos de contacto:</p>
        <ul *ngFor="let error of errors">
            <li *ngIf="error == 'name'" >Falta el campo Nombre</li>
            <li *ngIf="error == 'email'" >Falta el campo E-mail o ingrese un correo valido</li>
            <li *ngIf="error == 'phone'" >Falta el campo Teléfono</li>
            <li *ngIf="error == 'date'" >Falta el campo Fecha</li>
            <li *ngIf="error == 'address'" >Falta el campo Ciudad y Estado</li>
        </ul>
        <p>Por favor corrija los errores para continuar</p>
    </div>
    <div class="btn-container">
        <button mat-raised-button class="btn-ok" (click)="closed()">Ok</button>
    </div>
</div>
